.wrapper {
  font-family: 'Inter', sans-serif;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Pretendard', sans-serif;
  color: #333;
}

.main {
  text-align: center;
  margin-bottom: 40px;
}

.esg {
  margin-bottom: 12px;
  color: black;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.category {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.categoryBtn {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #e0e0e0;
  }
}

.section {
  .title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: left;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
  }

  .img {
    min-height: 310px;
    flex: 1 1 350px;
    max-width: 450px;
    overflow: hidden;
    height: 310px;
    width: 100%;
    border-radius: 12px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.4s ease;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }

  .content {
    min-height: 260px;
    flex: 1 1 300px;
    max-width: 650px;
    background: rgb(245, 245, 245);
    border-radius: 20px;
    padding: 20px;
    height: 250px;
    width: 636px;

    display: flex;
    align-items: center;

    .txt {
      padding-left: 35px;
      width: 100%;
      .body {
        font-size: 1.2rem;
        font-weight: 800;
        line-height: 1.4;
        margin-bottom: 40px;
      }

      .btn {
        a {
          display: inline-block;
          padding: 7px 18px;
          background-color: #fff;
          color: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          border-radius: 20px;
          transition: background-color 0.2s;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }
}
