.outer {
  width: 78%;
  margin-left: 7.8rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1.4rem;
  padding-top: 3rem;
  background-color: #f5f5f5;
  gap: 1.5rem;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.left {
  flex: 1 1 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1rem;
  color: #222;
}

.leftItem {
  background: #3cb4e5;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  font-size: 0.95rem;
  border-radius: 999px;
  width: 100px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.4rem;

  &:last-child {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}

.right {
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top {
  display: flex;
  gap: 1rem;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.first,
.third {
  flex: 1 1 auto;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #333;
  background-color: #f5f5f5;

  .one {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    color: #000;
    border-bottom: 1px solid #ccc;
  }

  .two {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #000;

    border-bottom: 1px solid #ccc;
  }

  .three {
    margin-top: 0.8rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
  }
}

.list {
  list-style: disc;
  padding-left: 2.2rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #000;
}

.second {
  margin-top: 2rem;
  height: 65%;
  flex: 1 1 auto;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.midBlock {
  width: 100%;
  background: #fff;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #000;
    font-weight: 800;
  }
  p {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.spc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  max-width: 700px;

  p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #555;
  }

  strong {
    font-weight: 700;
  }
}

.bottom {
  margin-bottom: 2rem;
  padding: 1.7rem;
  background-color: #c5c5c5;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
